In [9]:
# Import BeautifulSoup
from bs4 import BeautifulSoup

In [10]:
# Import Splinter and set the chromedriver path
from splinter import Browser
executable_path = {"executable_path": "chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)

In [15]:
### NASA Mars News URL
url = "https://mars.nasa.gov/news/"
browser.visit(url)

# Scrape the browser into soup and use soup to find the full resolution image of mars
# Save the image url to a variable called `img_url`
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

# latest news title
article = soup.find('div', class_="content_title")
title = article.text
title

"NASA's Curiosity Rover Finds an Ancient Oasis on Mars"

In [16]:
# paragraph text for the latest news article
teaser = soup.find('div', class_="article_teaser_body")
teaser_text = teaser.text
teaser_text

"New evidence suggests salty, shallow ponds once dotted a Martian crater — a sign of the planet's drying climate."

In [134]:
### JPL Mars Space Images - Featured image
# 
# SKIPPED FOR NOW
#
#

nasa_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(nasa_url)


link = browser.click_link_by_partial_text('FULL')

image = soup.find('a', class_='fancybox-inner')

# categories = sidebar.find_all('li')

# category_list = []
# url_list = []
# book_url_list = []
# for category in categories:
#     title = category.text.strip()
#     category_list.append(title)
#     book_url = category.find('a')['href']
#     url_list.append(book_url)

# book_url_list = ['http://books.toscrape.com/' + url for url in url_list]

# titles_and_urls = zip(category_list, book_url_list)

# try:
#     for title_url in titles_and_urls:
#         browser.click_link_by_partial_text('next')
# except ElementDoesNotExist:
#     print("Scraping Complete")

In [47]:
### Mars Weather
weather_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(weather_url)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')
#need to strip papic.twitter.com/2moNAouxXa from the text
mars_weather = soup.find_all('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text")[0].text
print(mars_weather)

InSight sol 313 (2019-10-14) low -101.4ºC (-150.6ºF) high -27.2ºC (-16.9ºF)
winds from the SSE at 5.5 m/s (12.4 mph) gusting to 22.5 m/s (50.3 mph)
pressure at 7.20 hPapic.twitter.com/2moNAouxXa

In [68]:
### Mars Facts

weather_url = "https://space-facts.com/mars/"
browser.visit(weather_url)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

mars_facts = soup.find_all('aside', class_="widget widget_text clearfix")
print(mars_facts)

[<aside class="widget widget_text clearfix" id="text-2"><div class="widget-header"><h3 class="widget-title">Mars Planet Profile</h3></div><div class="textwidget"><table class="tablepress tablepress-id-p-mars" id="tablepress-p-mars"><tbody><tr class="row-1 odd"><td class="column-1"><strong>Equatorial Diameter:</strong></td><td class="column-2">6,792 km<br/></td></tr><tr class="row-2 even"><td class="column-1"><strong>Polar Diameter:</strong></td><td class="column-2">6,752 km<br/></td></tr><tr class="row-3 odd"><td class="column-1"><strong>Mass:</strong></td><td class="column-2">6.39 × 10^23 kg<br/> (0.11 Earths)</td></tr><tr class="row-4 even"><td class="column-1"><strong>Moons:</strong></td><td class="column-2">2 (<a href="https://space-facts.com/moons/phobos/">Phobos</a> &amp; <a href="https://space-facts.com/moons/deimos/">Deimos</a>)</td></tr><tr class="row-5 odd"><td class="column-1"><strong>Orbit Distance:</strong></td><td class="column-2">227,943,824 km<br/> (1.38 AU)</td></tr><tr class="row-6 even"><td class="column-1"><strong>Orbit Period:</strong></td><td class="column-2">687 days (1.9 years)<br/></td></tr><tr class="row-7 odd"><td class="column-1"><strong>Surface Temperature: </strong></td><td class="column-2">-87 to -5 °C</td></tr><tr class="row-8 even"><td class="column-1"><strong>First Record:</strong></td><td class="column-2">2nd millennium BC</td></tr><tr class="row-9 odd"><td class="column-1"><strong>Recorded By:</strong></td><td class="column-2">Egyptian astronomers</td></tr></tbody></table> <!-- #tablepress-p-mars from cache --></div> </aside>]

In [99]:
heading = soup.find_all('h3', class_='widget-title')[1]
print(heading.text)

Mars Planet Profile

In [96]:
#mars_table = soup.find_all('table', class_='tablepress tablepress-id-p-mars')
mars_table = soup.find_all('table')[1]
#print(mars_table.prettify())

<table class="tablepress tablepress-id-p-mars" id="tablepress-p-mars">
 <tbody>
  <tr class="row-1 odd">
   <td class="column-1">
    <strong>
     Equatorial Diameter:
    </strong>
   </td>
   <td class="column-2">
    6,792 km
    <br/>
   </td>
  </tr>
  <tr class="row-2 even">
   <td class="column-1">
    <strong>
     Polar Diameter:
    </strong>
   </td>
   <td class="column-2">
    6,752 km
    <br/>
   </td>
  </tr>
  <tr class="row-3 odd">
   <td class="column-1">
    <strong>
     Mass:
    </strong>
   </td>
   <td class="column-2">
    6.39 × 10^23 kg
    <br/>
    (0.11 Earths)
   </td>
  </tr>
  <tr class="row-4 even">
   <td class="column-1">
    <strong>
     Moons:
    </strong>
   </td>
   <td class="column-2">
    2 (
    <a href="https://space-facts.com/moons/phobos/">
     Phobos
    </a>
    &amp;
    <a href="https://space-facts.com/moons/deimos/">
     Deimos
    </a>
    )
   </td>
  </tr>
  <tr class="row-5 odd">
   <td class="column-1">
    <strong>
     Orbit Distance:
    </strong>
   </td>
   <td class="column-2">
    227,943,824 km
    <br/>
    (1.38 AU)
   </td>
  </tr>
  <tr class="row-6 even">
   <td class="column-1">
    <strong>
     Orbit Period:
    </strong>
   </td>
   <td class="column-2">
    687 days (1.9 years)
    <br/>
   </td>
  </tr>
  <tr class="row-7 odd">
   <td class="column-1">
    <strong>
     Surface Temperature:
    </strong>
   </td>
   <td class="column-2">
    -87 to -5 °C
   </td>
  </tr>
  <tr class="row-8 even">
   <td class="column-1">
    <strong>
     First Record:
    </strong>
   </td>
   <td class="column-2">
    2nd millennium BC
   </td>
  </tr>
  <tr class="row-9 odd">
   <td class="column-1">
    <strong>
     Recorded By:
    </strong>
   </td>
   <td class="column-2">
    Egyptian astronomers
   </td>
  </tr>
 </tbody>
</table>

In [114]:
import pandas as pd

# col1=mars_table.find_all('td', class_='column-1')[0].text
col1=mars_table.find_all('td', class_='column-1')

#col1

[<td class="column-1"><strong>Equatorial Diameter:</strong></td>,
 <td class="column-1"><strong>Polar Diameter:</strong></td>,
 <td class="column-1"><strong>Mass:</strong></td>,
 <td class="column-1"><strong>Moons:</strong></td>,
 <td class="column-1"><strong>Orbit Distance:</strong></td>,
 <td class="column-1"><strong>Orbit Period:</strong></td>,
 <td class="column-1"><strong>Surface Temperature: </strong></td>,
 <td class="column-1"><strong>First Record:</strong></td>,
 <td class="column-1"><strong>Recorded By:</strong></td>]

In [123]:
col2 =mars_table.find_all('td', class_='column-2')
#col2

[<td class="column-2">6,792 km<br/></td>,
 <td class="column-2">6,752 km<br/></td>,
 <td class="column-2">6.39 × 10^23 kg<br/> (0.11 Earths)</td>,
 <td class="column-2">2 (<a href="https://space-facts.com/moons/phobos/">Phobos</a> &amp; <a href="https://space-facts.com/moons/deimos/">Deimos</a>)</td>,
 <td class="column-2">227,943,824 km<br/> (1.38 AU)</td>,
 <td class="column-2">687 days (1.9 years)<br/></td>,
 <td class="column-2">-87 to -5 °C</td>,
 <td class="column-2">2nd millennium BC</td>,
 <td class="column-2">Egyptian astronomers</td>]

In [122]:
# loop through table and assign to a dataframe
column1 = []
for col in col1:
    column1.append(col.text)
    
#column1

['Equatorial Diameter:',
 'Polar Diameter:',
 'Mass:',
 'Moons:',
 'Orbit Distance:',
 'Orbit Period:',
 'Surface Temperature: ',
 'First Record:',
 'Recorded By:']

In [124]:
column2 = []
for col in col2:
    column2.append(col.text)
    
#column2

['6,792 km',
 '6,752 km',
 '6.39 × 10^23 kg (0.11 Earths)',
 '2 (Phobos & Deimos)',
 '227,943,824 km (1.38 AU)',
 '687 days (1.9 years)',
 '-87 to -5 °C',
 '2nd millennium BC',
 'Egyptian astronomers']

In [128]:
list_of_tuples = list(zip(column1, column2))
#list_of_tuples

[('Equatorial Diameter:', '6,792 km'),
 ('Polar Diameter:', '6,752 km'),
 ('Mass:', '6.39 × 10^23 kg (0.11 Earths)'),
 ('Moons:', '2 (Phobos & Deimos)'),
 ('Orbit Distance:', '227,943,824 km (1.38 AU)'),
 ('Orbit Period:', '687 days (1.9 years)'),
 ('Surface Temperature: ', '-87 to -5 °C'),
 ('First Record:', '2nd millennium BC'),
 ('Recorded By:', 'Egyptian astronomers')]

In [129]:
# create a dataframe from the Mars Facts scraping
df = pd.DataFrame(list_of_tuples, columns =['Column1', 'Column2'])
df

                 Column1                        Column2
0   Equatorial Diameter:                       6,792 km
1        Polar Diameter:                       6,752 km
2                  Mass:  6.39 × 10^23 kg (0.11 Earths)
3                 Moons:            2 (Phobos & Deimos)
4        Orbit Distance:       227,943,824 km (1.38 AU)
5          Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                    -87 to -5 °C
7          First Record:              2nd millennium BC
8           Recorded By:           Egyptian astronomers

In [130]:
# convert Mars Facts to an HTML Table
html_table = df.to_html()
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Column1</th>
      <th>Column2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [ ]:
### Mars Hemispheres

In [ ]:


# Display the image with IPython.display
from IPython.display import Image
Image(url='img.png')